
<main>
    <router-outlet></router-outlet>
    <div class="card" style="width: 100%; padding-top: 8%;">
      <h1 class="body-lync">
        LYNC is a <span class="gradient-text gradient-primary">Leading Multi-chain Gaming Ecosystem</span>
        Providing Key Infrastructure to Tier 1 Gaming Studios & Indie Developers
      </h1>
      <div class="container-body">
        <div class="col s3">
          <a href="start" class="btn w3-border w3-round-xlarge">Getting Started 
            <span>&#8594;</span>
          </a>
        </div>
        <div class="col s3">
          <a href="https://docs.lync.world/" class="w3-btn">View docs 
            <span>&#8594;</span>
          </a>
        </div>
      </div>
    </div>
  </main>
